// Navigation Styles here
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
